OLLAMA_URL=http://ollama:11434
LLM_MODEL=qwen2.5:1.5b-instruct
WHISPER_MODEL=base
WHISPER_LANG=es
DB_PATH=/data/assistant.db
STORE_NAME=TecnoStore
TTS_ENABLED=1
PIPER_VOICE=es_ES-davefx-medium
TZ=America/Lima
N8N_VERSION=latest
